body
{
	font-size: 30px;
}

.jumbotron
{
	position: relative;
}

.placeGuesses
{
	font-size: 30px;
}

.placeWins
{
	font-size: 30px;
}

.placeLosses
{
	font-size: 30px;
}

#currentWord
{
	font-size: 30px;
}

h2
{
	border-bottom: 1px solid gray;
}

#userGuesses
{
	font-size: 30px;
}

#alreadyGuessed
{
	font-style: 30px;
	color:blue;
}

#guesses, 
#wins, 
#losses,
#previousWord
{
	font-size: 30px;
}

img
{
	display: inline;
	width:10%;
}